<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marco.biblia">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Leitura.Leitura"
            android:theme="@style/Font" />
        <activity android:name=".Plan.Plan" />
        <activity android:name=".Perfil.Perfil" />
        <activity android:name=".Login.Cadastro" />
        <activity android:name=".Login.Login" />
        <activity android:name=".Plan.Planos" />
        <activity
            android:name=".Plan.ListaPlanos"
            android:theme="@style/Font" />
        <activity android:name=".Leitura.Livros" />
        <activity android:name=".Notas.Editar" />
        <activity android:name=".Notas.Lista" />
        <activity android:name=".Notas.Nova" />
        <activity android:name=".Notas.Visualizar" />
        <activity android:name=".Teste" />
        <activity android:name=".Perfil.EditarPerfil" />
        <activity android:name=".Leitura.LeituraARA" />
        <activity
            android:name=".VersiculoMarcado.VersiculosMarcados"
            android:theme="@style/AppTheme" />
        <activity android:name=".Notas.NovaLeitura" />
        <activity android:name=".Principal"></activity>
    </application>

</manifest>